/* Estilos generales */
html {
  font-family: "Montserrat", sans-serif;
  background: #b993d6; /* fallback para navegadores antiguos */
  background: -webkit-linear-gradient(to right, #8ca6db, #b993d6);
  background: linear-gradient(to right, #8ca6db, #b993d6);
  color: #fff;
}

.container {
  text-align: center;
}

.title {
  font-size: 6rem; /* Reducir el tamaño del título */
  margin-bottom: 2rem; /* Agregar un margen inferior */
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
}

.player {
  margin: 2rem;
  flex: 1 0 200px; /* Ajustar el tamaño de los elementos del jugador */
  max-width: 200px; /* Limitar el ancho máximo */
}

.button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3d348b;
  box-shadow: 0 5px #2c0b8e;
}

.button:hover {
  box-shadow: 0 3px #2c0b8e;
  top: 1px;
}

.button:active {
  box-shadow: 0 0 #2c0b8e;
  top: 5px;
}

/* Reglas de medios para dispositivos más pequeños */
@media screen and (max-width: 768px) {
  .title {
    font-size: 4rem; /* Hacer que el título sea aún más pequeño en pantallas más pequeñas */
  }

  .player {
    flex: 1 0 100%; /* Ajustar el tamaño de los elementos del jugador para ocupar todo el ancho disponible */
    max-width: none; /* Eliminar el límite máximo de ancho */
  }
}
